* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #011627;
    color: #F6F7F8;
}

.landing-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-hero {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 6rem;
}

