* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #011627;
    color: #F6F7F8;
}

.landing-page-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-hero {
    text-align: center;
}

h1 {
    text-transform: lowercase;
    font-size: 5rem;
    font-weight: 100;
}

