/* Header styles */

.header-container {
  height: 50px;
  width: 100%;
}

.header-container .content-container {
  display: flex;
}

.header {
  width: 100%;
  padding: 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  width: 80px;
}

.header-nav-left {
  text-align: left;
}

.header-nav-right {
  text-align: right;
}

.header a {
  font-size: 0.8rem;
}

.header h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  color: var(--primary);
}

/* Footer Styles */

.footer-container {
  height: calc(20vh - 50px);
  color: var(--grey-dark);
}
  
.footer-body {
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
  
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
  
.social-media-icon {
  width: 15px;
  height: 15px;
}
  
.footer-body p {
  font-size: 0.625rem;
}

/* About Styles */

.about-container {
  padding: 50px 30px 20px;
  font-size: 0.75rem;
  min-height: 80vh;
}

.about-container p {
  margin-bottom: 20px;
}

.about-container img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.signoff {
  color: var(--primary);
}

/* Contact Us Styles */

.contactus-container {
  padding: 50px 30px 20px;
  font-size: 0.75rem;
  min-height: 80vh;
}

.contactus-container p {
  margin-bottom: 20px;
}

.contactus-container a {
  color: var(--primary);
}