:root {
  --primary: rgb(73, 30, 213);  
  --secondary: #ddcf11;
  --white: #fcfcfc; 
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  transition-duration: 100ms;
  border-radius: 4px;
}

.content-container {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header styles */

.header-container {
  height: 10vh;

  border-bottom: 1px solid var(--white);
}

.header-container .content-container {
  height: 100%;
  display: flex;
  justify-content: left;
}

.header-logo {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-nav .contact-button {
  width: 100px;
  height: 30px;

  color: var(--white);
  background-color: var(--primary); 
  border: 1px solid var(--white);
}

.header-nav .contact-button:hover {
  color: var(--primary);
  background-color: var(--white);
}

/* Search styles */

.search-container {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.search-hero {
  padding: 10px;
  width: 60%;
  max-width: 500px;
}

.search-hero h1 {
  font-size: 4rem;
}

.search-hero-text {
  color: var(--secondary);
}

.search-form {
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

.search-form p {
  margin: 10px 0;
}

.search-parameter-pair {
  display: flex;
  justify-content: center;
}

.search-parameter-button {
  width: 100px;
  height: 30px;
  color: var(--white);
  
  border: 1px solid var(--white);
  background-color: var(--primary);
}

.search-parameter-button-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

.search-parameter-button-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search-parameter-button:hover, .search-parameter-button-active {
  color: var(--primary);
  background: var(--white);
}

.search-button {
  margin: 20px 0px;
  width: 150px;
  height: 40px;
  font-size: 1.25rem;
}

.search-button-notready {
  color: var(--secondary);
  background-color: var(--primary);
  border: 1px solid var(--secondary);
}

.search-button-ready {
  color: var(--primary);
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.search-button-ready:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Results Styles */

.results-header {
  height: 50px;
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.results-header p {
  text-align: center;
}

.results-header em {
  font-style: normal;
  font-weight: bold;
  color: var(--secondary);
}

.results-body {
  padding: 10px 10px 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
}

.results-card {
  height: 250px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--white);
  color: var(--primary);
  border-radius: 4px;
}

.results-card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Footer styles */ 

.footer-container {
  height: 200px;
  background-color: var(--secondary);
  color: var(--primary);
}

.footer-body {
  height: 100%;
  padding: 20px;
}

.footer-body form {
  margin: 20px 0;
}