@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

:root {
  --primary: #4D2EE0;  
  /* --primary: #0000F5; */
  --secondary: #ddcf11;
  --white: #FDFDFD;
  --black: #434055;
  --background: #f9f2f8;
  --grey-light: #A8A2C680;
  --grey-dark: #8b86aa;
  --contrast: #F6D2B7;
  --primary-light: #CCC2FF50;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: var(--background);
  color: var(--grey-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  transition-duration: 100ms;
  border-radius: 5px;
  border: none;
}

em {
  font-style: normal;
}

.content-container {
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/*  Media Queries */

@media (hover: hover) {
  .search-tag:hover, .secondary-filter-tag:hover {
    background-color: var(--primary);
    color: var(--white);
  }

  .search-button-ready:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

}

@media only screen and (max-height: 700px) {
  .search-hero {
    padding-top: 2vh;
  }
}